# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode
.build
rasm
*.bin
test_load
build
inc/QR-Code-generator
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-3dd191a35fdfe21fc7b3.json
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.25.0/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-9f5fb3263e29ec2133f4.json
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.25.0/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-d6a14b2b583f165a60ee.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/index-2022-12-14T11-18-55-0275.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/target-rasm-Debug-0fe3eefe5ab5556a1559.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-2e1e25ac807a27adec82.json
